@use "sass:math";
@mixin toRem($property, $value) {
  #{$property}: span math.div($value,16) + rem;
}

@function toRem($value) {
  $remValue: span math.div($value,16)+ rem;
  @return $remValue;
}

.top-white-arrow {
  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #fff;
    top: -6px;
    right: 10%;
    border-width: 0 0.4em 0.4rem;
  }
}
