@import "src/mixins.scss";
@import "src/variables.scss";
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";

:host {
  .ttrmform {
    margin-top: 5%;
    padding: 2%;
  }
  .form {
    label {
      text-align: left;
      font-family: "BundesSans Web";
      letter-spacing: 0.37px;
      color: #3a3632;
      opacity: 1;
      font-weight: bold;
    }
  }
}
