<div class="ttrmform">
  <form [formGroup]="myForm" class="form">
    <div class="form-inline mb-4">
      <div class="col-md-6 mb-4">
        <label>Enter Symptom 1:</label>
      </div>
      <div class="col-sm-4 mb-4">
        <p-dropdown
          class="w-100"
          [(ngModel)]="select1ListModel"
          [options]="
            options.symptoms1
              | excludeValue: getValueForDropDown('symptoms2')
              | excludeValue: getValueForDropDown('symptoms3')
          "
          [dropdownIcon]="dropdownicon"
          formControlName="symptoms1"
          id="symptoms1"
          placeholder="Select Symptoms"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-inline mb-4">
      <div class="col-md-6 mb-4">
        <label>Enter Symptom 2:</label>
      </div>
      <div class="col-sm-4 mb-4">
        <p-dropdown
          class="w-100"
          [(ngModel)]="select2ListModel"
          [options]="
            options.symptoms2
              | excludeValue: getValueForDropDown('symptoms1')
              | excludeValue: getValueForDropDown('symptoms3')
          "
          [dropdownIcon]="dropdownicon"
          formControlName="symptoms2"
          id="symptoms2"
          placeholder="Select Symptoms"
        ></p-dropdown>
      </div>
    </div>
    <div class="form-inline mb-4">
      <div class="col-md-6 mb-4">
        <label>Enter Symptom 3:</label>
      </div>
      <div class="col-sm-4 mb-4">
        <p-dropdown
          class="w-100"
          [(ngModel)]="select3ListModel"
          [options]="
            options.symptoms1
              | excludeValue: getValueForDropDown('symptoms1')
              | excludeValue: getValueForDropDown('symptoms2')
          "
          [dropdownIcon]="dropdownicon"
          formControlName="symptoms3"
          id="symptoms3"
          placeholder="Select Symptoms"
        ></p-dropdown>
      </div>
    </div>

    <div class="form-inline mb-4">
      <div class="col-md-6 offset-3 mt-4">
        <p-button
          *ngIf="data.disease === 'Not Detected'"
          [disabled]="myForm.invalid"
          (click)="getDisease()"
          label="ANALYZE"
          class="send"
        ></p-button>
        <p-button
          *ngIf="data.disease != 'Not Detected'"
          [disabled]="myForm.invalid"
          (click)="submitForm()"
          label="RECOMMEND"
          class="send"
        ></p-button>
      </div>
    </div>
  </form>
</div>
